<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Togglz</title>
  <link rel="stylesheet" type="text/css" href="../bulma.min.css">
  <link rel="stylesheet" type="text/css" href="../togglzStyles.css">
</head>
<body>
<!--/*@thymesVar id="togglzList" type="java.util.List<com.breuninger.boot.togglz.domain.TogglzFeature>"*/-->
<!--/*@thymesVar id="togglz" type="com.breuninger.boot.togglz.domain.TogglzFeature"*/-->
<div class="column is-half-desktop">
  <div class="card panel">
    <div class="card-header"><p class="card-header-title">Feature Toggles</p></div>
    <div class="card-content content">
      <table class="table">
        <tr th:each="togglz : ${togglzList}">
          <td>
            <label class="switch">
              <input type="checkbox" th:checked="${togglz.enabled}" th:id="${togglz.feature}" onclick="ontogglzchange(this)">
              <span class="slider round"></span>
            </label>
          </td>
          <td th:text="${togglz.feature}" class="switch-label"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" src="../togglzScripts.js"></script>
</body>
</html>
