<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Job Overview</title>
  <link href="../base.min.css" rel="stylesheet" type="text/css">
  <link href="../jobExecutions.css" rel="stylesheet" type="text/css">
  <link crossorigin="anonymous"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="jobExecutions" type="java.util.List<com.breuninger.boot.jobs.domain.JobExecution>"*/-->
<!--/*@thymesVar id="jobExecution" type="com.breuninger.boot.jobs.domain.JobExecution"*/-->
<!--/*@thymesVar id="jobExecutionId" type="com.breuninger.boot.jobs.domain.JobExecutionId"*/-->
<!--/*@thymesVar id="jobId" type="com.breuninger.boot.jobs.domain.JobId"*/-->
<div class="card">
  <div class="card-header">
    <button class="collapsible hero flex-header headline">
      <div>
        <span class="fas">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
      <div class="column is-3">
        Job name
      </div>
      <div class="column">
        Hostname
      </div>
      <div class="column is-2">
        Started
      </div>
      <div class="column is-2">
        Stopped
      </div>
      <div class="column">
        Runtime
      </div>
      <div class="column is-2 has-text-right">
        Last updated
      </div>
    </button>
  </div>
</div>
<div class="card" th:each="jobExecution,iter : ${jobExecutions}">
  <div class="card-header">
    <button class="collapsible hero flex-header"
            th:classappend="(${jobExecutionId != null && iter.size == 1 || jobId != null && iter.index == 0 && jobExecution.stopped == null} ? 'is-primary card-header-title')"
            onclick="openCollapseCards(this)"
            th:value="${jobExecution.id.value}">
      <div>
        <i th:class="(${jobExecution.status.name()} == 'OK') ? (!${jobExecution.stopped} ? 'fas fa-spinner fa-spin has-text-primary' : 'fas fa-check has-text-success') :
        ((${jobExecution.status.name()} == 'SKIPPED') ? 'fas fa-exclamation has-text-yellow' : 'fas fa-times has-text-danger')"
           th:id="${jobExecution.id.value} + '-status'">
        </i>
      </div>
      <div class="column is-3">
        <a class="has-text-primary"
           th:href="'/jobs/' + ${jobExecution.jobId.value}"
           th:text="${jobExecution.jobId.value}">
        </a>
      </div>
      <div class="column" th:text="${jobExecution.hostname}">
      </div>
      <div class="column is-2" th:text="${#temporals.format(jobExecution.started, 'dd.MM.yyyy HH:mm:ss')}">
      </div>
      <div class="column is-2" th:id="${jobExecution.id.value} + '-stopped'"
           th:text="(${jobExecution.stopped} ? ${#temporals.format(jobExecution.stopped, 'dd.MM.yyyy HH:mm:ss')} : '-')">
      </div>
      <div class="column" th:if="${jobExecution.runtime == null}">
      </div>
      <div class="column"
           th:classappend="${jobExecution.id.value} + '-runtime'"
           th:text="${#temporals.format(T(java.time.LocalTime).ofNanoOfDay(jobExecution.runtime.toNanos()), 'HH:mm:ss')}"
           th:if="${jobExecution.runtime != null && jobExecution.runtime.toDays() < 1}">
      </div>
      <div class="column"
           th:classappend="${jobExecution.id.value} + '-runtime'"
           th:if="${jobExecution.runtime != null && jobExecution.runtime.toDays() >= 1}">
        > 24h
      </div>
      <div class="column is-2 has-text-right"
           th:classappend="${jobExecution.id.value} + '-last-updated'"
           th:text="${#temporals.format(jobExecution.lastUpdated, 'dd.MM.yyyy HH:mm:ss')}">
      </div>
    </button>
  </div>
  <div class="card-content content"
       th:classappend="(${jobExecutionId != null && iter.size == 1 || jobId != null && iter.index == 0 && jobExecution.stopped == null} ? 'flex-wrap')"
       th:id="${jobExecution.id.value} + '-card-content'">
    <table class="table">
      <tr>
        <td>
          <label class="checkbox"
                 th:disabled="${jobExecution.stopped}"
                 th:for="${jobExecution.id.value} + '-update-messages-checkbox'">
            <input onchange="updateJobExecution(this)"
                   th:id="${jobExecution.id.value} + '-update-messages-checkbox'"
                   th:value="${jobExecution.id.value}"
                   th:disabled="${jobExecution.stopped}"
                   th:checked="${jobExecutionId != null && iter.size == 1 && jobExecution.stopped == null || jobId != null && iter.index == 0 && jobExecution.stopped == null}"
                   type="checkbox"/> Update messages
          </label>
        </td>
      </tr>
      <tr class="card-content-item">
        <td class="messages">
          <pre class="messages" th:id="${jobExecution.id.value}"><div th:each="message : ${jobExecution.messages}"
                                                                      th:text="${#temporals.format(message.timestamp, 'yyyy-MM-dd HH:mm:ss')} + ' ' + ${message.level} + ' --- ' + ${message.message}"></div></pre>
        </td>
      </tr>
    </table>
  </div>
</div>
<script src="../jobExecutions.js" type="text/javascript"></script>
<script th:each="jobExecution,iter : ${jobExecutions}"
        th:if="${jobExecutionId != null && iter.size == 1 && jobExecution.stopped == null || jobId != null && iter.index == 0 && jobExecution.stopped == null}"
        th:utext="('updateJobExecution(document.getElementById(\'' + ${jobExecution.id.value} + '-update-messages-checkbox\'));')"></script>
<script src="../iframeResizer.contentWindow.min.js" type="text/javascript"></script>
</body>
</html>
