<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Job Overview</title>
  <link rel="stylesheet" type="text/css" href="../bulma.min.css">
  <link rel="stylesheet" type="text/css" href="../jobStyles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<!--/*@thymesVar id="jobs" type="java.util.List<com.breuninger.boot.jobs.domain.Job>"*/-->
<!--/*@thymesVar id="job" type="com.breuninger.boot.jobs.domain.Job"*/-->
<!--/*@thymesVar id="jobDefs" type="java.util.Map<com.breuninger.boot.jobs.domain.JobId, com.breuninger.boot.jobs.domain.JobDefinition>"*/-->
<div class="card panel" th:each="job : ${jobs}">
  <div class="card-header">
    <button class="collapsible hero application-list-item__header flex flex-header" onclick="openCollapseCards(this)"
            th:value="${job.id.value}">
      <div><i th:class="${job.disabled} ? 'fas fa-times' : 'fas fa-check'" th:id="${job.id.value}+'headerstate'"></i></div>
      <div><span th:text="'Job: ' + ${job.id.value}"></span>
        <br>
        <a th:text="${job.runningJobExecutionId} ? ${job.runningJobExecutionId.value} : '-'"
           th:href="${job.runningJobExecutionId} ? '../jobexecutions/'+${job.runningJobExecutionId.value} : '../jobexecutions'"
           th:id="${job.id.value} + 'executionidheader'"></a>
      </div>
    </button>
  </div>
  <div th:id="${job.id.value}+'content'" class="card-content content" style="flex-direction: column">
    <table>
      <tr>
        <td>Running Job Execution ID</td>
        <td><a th:text="${job.runningJobExecutionId} ? ${job.runningJobExecutionId.value} : '-'"
               th:href="${job.runningJobExecutionId} ? '../jobexecutions/'+${job.runningJobExecutionId.value} : '../jobexecutions'"
               th:id="${job.id.value} + 'executionid'"></a></td>
        <td>
          <button class="button is-primary" onclick="startJob(this)"
                  th:disabled="${job.runningJobExecutionId} ? true : ${job.disabled}" th:id="${job.id.value} + 'start'"
                  th:value="${job.id.value}">Start job
          </button>
        </td>
      </tr>
      <tr>
        <td>Status</td>
        <td colspan="2">
          <div th:id="${job.id.value}+'status'" th:class="${job.disabled}?'disabled':'enabled'"
               th:text="${job.disabled}?'Disabled':'Enabled'"></div>
        </td>
      </tr>
      <tr th:class="(${job.disabled}?'display-none')" th:id="${job.id.value}+'enabled'">
        <td colspan="3">
          <div class="flex"><input class="input" type="text" placeholder="Disabled Comment"
                                   th:id="${job.id.value} + 'disabledcommentinput'"/>
            <button class="button is-danger space-left" onclick="disableJob(true, this)" th:value="${job.id.value}">
              Disable job
            </button>
          </div>
        </td>
      </tr>
      <tr th:class="(!${job.disabled}? 'display-none')" th:id="${job.id.value}+'disabled'">
        <td>Disabled Comment</td>
        <td th:id="${job.id.value} + 'disabledcomment'" th:text="${job.disableComment}"></td>
        <td>
          <button class="button is-primary space-left" onclick="disableJob(false, this)" th:value="${job.id.value}">
            Enable job
          </button>
        </td>
      </tr>
      <tr th:if="${job.state.size() != 0}">
        <td>States</td>
        <td>
          <ul>
            <li th:each="a : ${job.state.keySet()}" th:text="a + ': ' + ${job.state.get(a)}"></li>
          </ul>
        </td>
      </tr>
    </table>
    <div class="card-content-item">
      <div class="card">
        <div class="card-header">
          <button class="collapsible card-header-title" th:value="${job.id.value} + 'definition'"
                  onclick="openCollapseCards(this)">Job Definition
          </button>
        </div>
        <div th:id="${job.id.value} + 'definitioncontent'" class="card-content">
          <div class="card-content-item-no-border has-text-centered"><p class="heading">Name</p>
            <p th:text="${jobDefs.get(job.id).name}"></p></div>
          <div class="card-content-item-no-border has-text-centered"><p class="heading">Description</p>
            <p th:text="${jobDefs.get(job.id).description}"></p></div>
          <div class="card-content-item-no-border has-text-centered"><p class="heading">Cron</p>
            <p th:text="${jobDefs.get(job.id).cron}?${jobDefs.get(job.id).cron}:'-'"></p></div>
          <div class="card-content-item-no-border has-text-centered"><p class="heading">Fixed Delay</p>
            <p th:text="${jobDefs.get(job.id).fixedDelay}?(${jobDefs.get(job.id).fixedDelay.seconds}+'s'):'-'"></p></div>
          <div class="card-content-item-no-border has-text-centered"><p class="heading">Fixed Rate</p>
            <p th:text="${jobDefs.get(job.id).fixedRate}?(${jobDefs.get(job.id).fixedRate.seconds}+'s'):'-'"></p></div>
          <div class="card-content-item-no-border has-text-centered"><p class="heading">Restarts</p>
            <p th:text="${jobDefs.get(job.id).restarts}?${jobDefs.get(job.id).restarts}:'-'"></p></div>
          <div class="card-content-item-no-border has-text-centered"><p class="heading">Restart Delay</p>
            <p th:text="${jobDefs.get(job.id).restartDelay}?${jobDefs.get(job.id).restartDelay}:'-'"></p></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../jobScripts.js"></script>
</body>
</html>
