<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Job Overview</title>
  <link href="../base.min.css" rel="stylesheet" type="text/css">
  <link href="../jobs.css" rel="stylesheet" type="text/css">
  <link crossorigin="anonymous"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="jobs" type="java.util.List<com.breuninger.boot.jobs.domain.Job>"*/-->
<!--/*@thymesVar id="job" type="com.breuninger.boot.jobs.domain.Job"*/-->
<!--/*@thymesVar id="jobDefinitions" type="java.util.Map<com.breuninger.boot.jobs.domain.JobId, com.breuninger.boot.jobs.domain.JobDefinition>"*/-->
<div class="card">
  <div class="card-header">
    <button class="collapsible hero flex-header headline">
      <div>
        <span class="fas">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
      <div class="column">
        Job name
      </div>
    </button>
  </div>
</div>
<div class="card" th:each="job,iter : ${jobs}">
  <div class="card-header">
    <button class="collapsible hero flex-header"
            th:classappend="(${iter.size == 1} ? 'is-primary card-header-title')"
            onclick="openCollapseCards(this);"
            th:value="${job.id.value} + '-card'">
      <div>
        <i th:class="${job.runningJobExecutionId} ? 'fas fa-spinner fa-spin has-text-primary' :
          (${job.disabled} ? 'fas fa-minus-circle has-text-grey' : 'fas fa-check has-text-success')"
           th:id="${job.id.value} + '-status'">
        </i>
      </div>
      <div class="column">
        <span th:text="${job.id.value}"></span>
        <a class="has-text-primary"
           th:href="${job.runningJobExecutionId} ? '/jobExecutions/' + ${job.runningJobExecutionId.value} : '/jobExecutions'"
           th:id="${job.id.value} + '-executionid-header'"
           th:text="${job.runningJobExecutionId} ? 'Running job execution'"></a>
      </div>
      <div class="column has-text-right">
        <a class="has-text-primary" th:href="'/jobExecutions?jobId=' + ${job.id.value}">All job executions</a>
      </div>
    </button>
  </div>
  <div class="card-content content"
       th:classappend="(${iter.size == 1} ? 'flex-wrap')"
       th:id="${job.id.value} + '-card-content'">
    <table class="table">
      <tr th:if="${jobDefinitions.get(job.id)}">
        <td>Description</td>
        <td th:text="${jobDefinitions.get(job.id).description}"></td>
        <td></td>
      </tr>
      <tr>
        <td>Running job execution Id</td>
        <td>
          <a class="has-text-primary"
             th:href="${job.runningJobExecutionId} ? '/jobExecutions/' + ${job.runningJobExecutionId.value} : '/jobExecutions'"
             th:id="${job.id.value} + '-executionid'"
             th:text="${job.runningJobExecutionId} ? ${job.runningJobExecutionId.value}">
          </a>
        </td>
        <td>
          <button class="button is-primary"
                  onclick="startJob(this)"
                  th:disabled="${job.disabled}"
                  th:id="${job.id.value} + '-start'"
                  th:value="${job.id.value}">
            Start job
          </button>
        </td>
      </tr>
      <tr th:class="(${job.disabled} ? 'display-none')" th:id="${job.id.value} + '-enabled'">
        <td colspan="2">
          <input class="input"
                 placeholder="Disabled Comment"
                 th:id="${job.id.value} + '-disabledcomment-input'"
                 type="text"/>
        </td>
        <td>
          <button class="button is-danger" onclick="disableJob(true, this)" th:value="${job.id.value}">
            Disable job
          </button>
        </td>
      </tr>
      <tr th:class="(!${job.disabled} ? 'display-none')" th:id="${job.id.value} + '-disabled'">
        <td>Disabled Comment</td>
        <td th:id="${job.id.value} + '-disabledcomment'" th:text="${job.disableComment}"></td>
        <td>
          <button class="button is-success" onclick="disableJob(false, this)" th:value="${job.id.value}">
            Enable job
          </button>
        </td>
      </tr>
      <tr th:if="${job.state.size() != 0}">
        <td>States</td>
        <td>
          <ul>
            <li th:each="key : ${job.state.keySet()}" th:text="key + ': ' + ${job.state.get(key)}"></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </table>
    <table class="table" th:if="${jobDefinitions.get(job.id)}">
      <tr th:if="${jobDefinitions.get(job.id).cron}">
        <td>Cron</td>
        <td th:text="${jobDefinitions.get(job.id).cron}"></td>
      </tr>
      <tr th:if="${jobDefinitions.get(job.id).fixedDelay}">
        <td>Fixed Delay</td>
        <td th:text="(${jobDefinitions.get(job.id).fixedDelay.seconds} + 's')">
        </td>
      </tr>
      <tr th:if="${jobDefinitions.get(job.id).fixedRate}">
        <td>Fixed Rate</td>
        <td th:text="(${jobDefinitions.get(job.id).fixedRate.seconds} + 's')">
        </td>
      </tr>
      <tr th:if="${jobDefinitions.get(job.id).restarts}">
        <td>Restarts</td>
        <td th:text="${jobDefinitions.get(job.id).restarts}"></td>
      </tr>
      <tr th:if="${jobDefinitions.get(job.id).restartDelay}">
        <td>Restart Delay</td>
        <td th:text="${jobDefinitions.get(job.id).restartDelay}"></td>
      </tr>
    </table>
  </div>
</div>
<script src="../jobs.js" type="text/javascript"></script>
<script src="../iframeResizer.contentWindow.min.js" type="text/javascript"></script>
</body>
</html>
